#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.banner {
  position: relative;
  width: 450px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 5px solid #761fe8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(-50px) scale(1.1); 
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.header h1 {
  padding-left: 1.8em;
}
.logo {
  height: 5em;
  padding: 1em;
  border-radius: 100px;
  border: 2px solid #fff;
  margin-top: 8px;
}

.card {
  padding: 2em;
  text-align: center;
}

h1{
  mix-blend-mode: difference;
}
